.JD-section {
    background-color: var(--system-background-light-100);
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.015em;
    color: var(--texto-dark);
}

.JD-section .title {
    display: flex;
    flex-direction: row;
    padding-top: 7.5rem;
    padding-bottom: 3.5rem;
    align-items: center;
}

.JD-section .title h2 {
    text-align: left;
    padding-left: 8.4rem;
    padding-right: 10rem;
}

.JD-section .title button {
    text-align: center;
    color: var(--texto-light);
    background-color: var(--secondary-color-400);
    width: 12rem;
    height: 3.25rem;
    border-radius: 6px;
    border: 0;
}

.JD-section .title button:hover {
    background-color: var(--secondary-color-300);
    cursor: pointer;
}

.JD-section .title button:active {
    background-color: var(--secondary-color-500);
}

.JD-section .functions {
    padding: 2rem 10rem;
    /* padding-bottom: 15.1rem; */
    vertical-align: bottom;
}

.JD-section .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}

@media screen and (max-width: 960px) {
    .JD-section .title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .JD-section .title h2 {
        font-size: 40px;
        padding: 0 0 2rem 0;
        text-align: center;
    }
    .JD-section .functions {
        padding: 2rem 4rem;
        vertical-align: bottom;
    }

}