.joinUs {
    background-color: var(--system-background-light-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 7.5rem 2rem;
}

.joinUs h3 {
    font-size: 2.25rem;
    font-weight: lighter;
    text-align: center;
}

.joinUs .buttons {
    display: flex;
    flex-direction: row;
}

.joinUs button {
    width: 12rem;
    height: 3.25rem;
    border-radius: 6px;
    border: 0;
    margin: 0 1rem;
}

.joinUs button:first-of-type {
    background-color: var(--secondary-color-400);
    color: var(--neutral-color-100);
}

.joinUs button:first-of-type:hover {
    background-color: var(--secondary-color-300);
    cursor: pointer;
}

.joinUs button:last-of-type {
    background-color: var(--system-background-light-100);
    color: var(--secondary-color-400);
    border: 1px solid var(--secondary-color-400);
}

.joinUs button:last-of-type:hover {
    background-color: var(--system-background-light-300);
    cursor: pointer;
}

@media screen and (max-width: 970px) {
    .joinUs {
        flex-direction: column;
    }
    .joinUs h3 {
        font-size: x-large;
        margin-bottom: 1rem;
    }
    .joinUs button {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .joinUs h3 {
        font-size: larger;
        margin-bottom: 1rem;
    }
    .joinUs .buttons {
        flex-direction: column;
    }
}