.container_school{
    width: 100%;
    margin: auto;
    background:none;
    
}
.lbl-menu{
    display: block;
}
.lbl-menu label{
    display:inline-block;
    width: 15.55%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color: #000;
    font-weight: bold;
    font-size: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -7.5px;
    margin-left: 1%;
    background-color: #ffad4f;
    cursor: pointer;
    transition: all 500ms ease;
}

.lbl-menu label:hover{
    background: #fa760a;
}
.content{
    position: relative;
}
.content div{
    position: absolute;
    width: 100%;
    
    line-height: 1.8;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: linear-gradient(-75deg, #fff, #ffad4f);;
    padding-bottom: 40px;
}
.logo{
    width: 30px;
    height: 15px;
}

#radio2,#radio1,#radio3,#radio4,#radio5,#radio6{
    display: none;
}
#radio2:checked ~ .tab2,
#radio1:checked ~ .tab1,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4,
#radio5:checked ~ .tab5,
#radio6:checked ~ .tab6
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.content div:after{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fa760a;
    bottom: 100%;
    left: 4px;
}
.content .tab2:after{
    left: 3px; 
}
.content .tab1:after{
    left: 206px; 
}
.content .tab3:after{
    left: 409px;
}
.content .tab4:after{
    left: 611px;
}
.content .tab5:after{
    left: 814px;
}
.content .tab6:after{
    left: 1015px;
}