.navbar {
  background: var(--fondo-light-100);
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  margin: auto 0px auto 0px;
  max-width: 1500px;
  overflow: hidden;
}

.navbar-logo {
  position: absolute;
  left: 18px;
  top: 4px;
  cursor: pointer;
}

.navbar-logo img {
  height: auto;
  width: auto;
  max-height: 51px;
  max-width: 126px;
}

/* A partir de 1120 pixeles para abajo no alcanza el espacio para que los elementos se vean completos */
.nav-menu {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 82vw;
  margin-right: 50px;
}

.nav-item {
  height: 1rem;
}

.nav-links {
  color: var(--secondary-color-400);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  margin-right: 1.3rem;
  height: 100%;
}

@media screen and (max-width: 1140px) {
  .view-1140 {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .view-1024 {
    display: none;
  }
}
