.navbar * {
  color: var(--secondary-color-400);
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}

.navbar {
  background: var(--system-background-light-100);
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar-container {
  max-width: 1500px;
}

.navbar-logo {
  position: absolute;
  left: 18px;
  top: 4px;
  cursor: pointer;
}

.navbar-logo img {
  height: auto;
  width: auto;
  max-height: 60px;
  max-width: 126px;
}

/* A partir de 1120 pixeles para abajo no alcanza el espacio para que los elementos se vean completos */
.nav-menu {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 82vw;
  margin-right: 50px;
}

.nav-item {
  padding: 22px 12.5px;
}

/* el padding del dropdown lo lleva le boton */
.nav-dropdown {
  display: none;
  padding: 0px;
}

.nav-dropdown:hover .dropdown-content {
  display: flex;
  flex-flow: column;
}

.nav-links {
  text-decoration: none;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 3px solid var(--primary-color-400);
}
@media screen and (max-width: 1140px) {
  /* Proyectos, Ayuda */
  .nav-item:nth-child(7),
  .nav-item:nth-child(8) {
    display: none;
  }
  /* MasDropdown 1024 */
  .nav-item:nth-child(9) {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .nav-view-1024 {
    display: none;
  }
}
