/* Revisar CSS para que todo este responsive */

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.hero-containerFCE {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
}
