.questioncard {
  border-radius: 10px;
  background: white;
  padding: 1rem;
  width: 70rem;
  height: 20rem;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.2);
}
.questioncard-image {
  border-radius: 10px;
  height: 90%;
  background-color: var(--system-background-light-200);
  margin-bottom: 1rem;
  object-fit: cover;
}
.questioncard-text {
  display: flex;
  flex-direction: row;
  /* justify-content: left; */
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  /* vertical-align: middle; */
}
.questioncard-description {
    word-wrap: break-word
}

.questioncard-etiquetas {
  display: flex;
  justify-content: space-evenly;
}

.questioncard-etiqueta1 {
    word-wrap: break-word;
    font-size: small;
    background-color: var(--primary-color-300);
    border-radius: 1rem;
    padding: 0.4rem;
    margin-right: 0.4rem;
  }
  .questioncard-etiqueta2 {
    word-wrap: break-word;
    font-size: small;
    background-color: var(--secondary-color-300);
    border-radius: 1rem;
    padding: 0.4rem;
    margin-right: 0.4rem;
  }
  .questioncard-etiqueta3 {
    word-wrap: break-word;
    font-size: small;
    background-color: var(--neutral-color-300);
    border-radius: 1rem;
    padding: 0.4rem;
    margin-right: 0.4rem;
}

.questioncard-description-links {
    display: flex;
    word-wrap: break-word;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
    top: 50%;
}

.questioncard-qtitle {
  display: flex;
  font-size: ;
}

.questioncard-text .questioncard-name {
  font-weight: 1000;
  margin-left: 1rem;
  font-size: larger;
  object-fit: cover;
}
.questioncard-text .questioncard-price {
  font-weight: 400;
  font-size: small;
}

@media screen and (max-width: 1140px) {
  .questioncard {
    width: 50rem;
  }
}
@media screen and (max-width: 1024px) {
  .questioncard {
    width: 40rem;
  }
}
@media screen and (max-width: 900px) {
  .questioncard {
    width: 30rem;
  }
}
@media screen and (max-width: 768px) {
  .questioncard {
    width: 20rem;
  }
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.card-text .card-name {
  font-weight: 700;
}
.card-text .card-price {
  font-weight: 400;
  font-size: small;
}
