footer * {
  color: var(--texto-dark);
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
}

footer {
  background: var(--system-background-light-100);
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 80px 0 80px;
}

#footer-logo-small-screens-wrapper {
  display: none;
}

.footer-links-container {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-items:nth-child(1),
.footer-items:nth-child(2),
.footer-items:nth-child(3) {
  order: 1;
  flex-basis: 11.1%;
}

.footer-items:nth-child(4),
.footer-items:nth-child(5),
.footer-items:nth-child(6) {
  order: 3;
  flex-basis: 11.1%;
  text-align: right;
}

/* Alineamos el Wrapper del logo para que quede en el medio de los demas items*/
.footer-items:nth-child(7) {
  order: 2;
  flex-basis: 33.3%;
  text-align: center;
}

.footer-logo {
  cursor: pointer;
}

.footer-logo img {
  height: auto;
  width: auto;
  max-height: 60px;
  max-width: 126px;
}

.footer-links {
  text-decoration: none;
  height: 100%;
}

.footer-social-container {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-social {
  height: 30px;
}

.footer-copyright {
  text-align: center;
  line-height: 1.7;
}

hr {
  margin-bottom: 40px;
}

.footer-copyright {
  margin: 40px 0 20px 0;
  color: var(--texto-dark);
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  #footer-logo-small-screens-wrapper {
    display: block;
    text-align: center;
  }
  .footer-logo img {
    margin-bottom: 40px;
  }

  .footer-links-container {
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
  }
  .footer-links-container {
    margin-bottom: 16px;
  }
  /* Escondemos el logo de la lista */
  .footer-items:nth-child(7) {
    display: none;
  }

  .footer-items {
    margin-bottom: 24px;
  }
}
