.text-container {
  height: 50vh;
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--system-background-light-100);
}
.text-container > h2 {
    font-size: 56px;
    font-weight: 400;
}

@media screen and (max-width: 960px) {
  .text-container > h2 {
      font-size: 36px;
  }
}